.features {
  display: flex;
  align-items: center;
  padding: 0rem 2rem 1rem 1rem;
  text-decoration: none;
}

.featureIcon {
  margin-bottom: 20px;
  text-align: center;
}

[data-theme='dark'] .cards {
  background-color: rgba(255, 255, 255, 0.05);
}

.cards {
  border-radius: 20x;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 2rem 1rem;
  max-width: 350px;
  margin: 10px auto;
  text-align: center;
}

.card h3 {
  font-size: 1.875rem;
}

.btnGo {
  width: 180px;
  margin: auto;
}