/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

 .heroBanner {
  width: 100%;
  padding-top: 2rem;
  background-color: var(--ifm-color-classic);
  padding-left: 3rem;
}

.heroTitle {
  font-size: 4.688rem;
  line-height: 1;
  background: var(--linear-gradient-text);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heroSubtitle {
  font-size: 1.625rem; 
  line-height: 1.1;
  padding: 14px 0px;
  font-weight: 500;
  color: var(--navbar-icon-color);
}

.btnContainer{
  text-align: center;
}

.linkButton {
  border: 2px solid var(--ifm-color-primary);
  border-radius: 8px;
  font-size: 18px;
  text-align: center;
  padding: 8px 17px;
  font-weight: 500;
  margin: 4rem 1rem;
}

.linkButton:hover {
  border: 2px solid var(--ifm-color-primary); 
}

@media screen and (max-width: 1439px) {
  .heroBanner {
    padding: 3rem; 
  }
  .heroTitle {
    font-size: 4.1rem;
  }
  .heroSubtitle {
    font-size: 2.1rem; 
    line-height: 40px;
  }
}

@media screen and (max-width: 1037px) {
  .heroBanner {
    padding: 3rem; 
  }
  .heroTitle {
    font-size: 4rem;
  }
  .heroSubtitle {
    font-size: 2.1rem; 
    line-height: 40px;
  }
}

@media screen and (max-width: 817px) {
  .heroBanner {
    padding: 2rem; 
  }
  .heroTitle {
    font-size: 3rem;
  }
  .heroSubtitle {
    font-size: 1.8rem; 
    line-height: 40px;
  }
}



 
  
