.joinCommunity {
  display: flex;
  align-items: center;
  padding: 2rem;
  text-decoration: none;
  margin-top: 4rem;
}

h2.communityTitle {
  text-align: left;
  margin: 0 0 2rem;
  font-size: 3.125rem;
}

.description {
  max-width: 450px;
}

.socialContainer {
  margin-top: 4rem;
}

@media screen and (max-width: 996px) {
  .joinCommunity {
    margin-top: 0;
    padding: 0;
  }

  h2.communityTitle {
    font-size: 2.6rem;
    margin: 1rem 0;
  }

  .socialItem {
    flex: none !important;
    width: calc(100% / 3);
    float: left;
    text-align: center;
  }

  .twitter {
    padding-top: 10px;
  }

  .illustration {
    margin-top: 2rem;
  }
}