.joinCommunity {
  display: flex;
  align-items: center;
  padding: 2rem;
  text-decoration: none;
  margin-top: 4rem;
}

h2.communityTitle {
  text-align: left;
  margin: 0 0 2rem;
}

.description {
  max-width: 450px;
}

.socialContainer {
  margin-top: 4rem;
}