.moreFeatures {
  display: flex;
  align-items: center;
  padding: 0rem 2rem 1rem 1rem;
  text-decoration: none;
}

h2 {
  text-align: center;
  font-size: 3.125rem;
  margin: 4rem 1rem;
}

h3.featureTitle {
  font-size: 1.5rem;
}

[data-theme='dark'] .cards {
  background-color: rgba(255, 255, 255, 0.05);
}

.cards {
  border-radius: 20x;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 2rem 1rem;
  max-width: 350px;
  margin: 2rem auto;
  text-align: left;
  justify-content: space-evenly;
}

.learnMoreBtn {
  width: fit-content;
}